/* css for header section starts */
.header {
    background-color: #faf4f1;
    width: 100%;
    /* position: fixed;
    top: 0;
    left: 0; */
}
.navbar {
    /* padding: 0.5em 0.5em; */
    display: grid;
    grid-template-columns: 2em  auto  4.5em;
    grid-template-areas:  "drop logo cart"
                            "srch srch srch"
                            "menu menu menu";
}
.drop-menu{
    grid-area: drop;
    padding: 0.5em 0 0 0.5em;
}
.drop-menu > button{
    border:none;
    color: red;
    background-color: #faf4f1;
}
.logoPlace{
    grid-area: logo;
    text-align: center;
}
.logo{
    height: auto;
    max-height: 50px;
    /* max-width: 50%; */
    
   
}
.cart{
    grid-area: cart;
    vertical-align: middle;
    padding:0.5em 0.6em 0 0;
    
}
.cart li{
    display: inline;    
}
.searchbar{
    grid-area: srch;
    padding-left: 1em;
    display: none;    
}
.search{
    /* background-color:#dddddd; */
    padding: 0.3em;
    border: black 0.05em solid;
    border-radius: 0.5em;
    color: #aaaaaa;
}
.mainmenu{
    grid-area: menu;
    display: none;
    text-align: left;
    padding-left: 1em;
  }
    .mainmenu a {
      display: block;
      color: #111;
      text-decoration: none;
      line-height: 2.5;
    }
    .mainmenu a:hover {
      color: #ffffff;
      background-color: #dddddd;
    }
.submenu{
    display: none;
    position: absolute;
    left: 10em;
    top: 5em;
    background-color:#FDF2E3;
    z-index: 1;
    width: 100%;
}
    .submenu a{
        display: block;
        color: #111;
        text-decoration: none;
        line-height: 2.5;
    }
    .mainmenu a:hover{
        color: red;
      background-color: #dddddd;
    }
.dropdown > a::after{
    content: " >";
    color: black;
}
.dropdown:hover .submenu{
    display: block;
}

/* css for header ends */
/* css for front images section starts */
.text-block{
    background-color: black;
    opacity: 0.65;
    color: lightcoral;
    padding: 0.5em;
    text-align: center;
    
}
.text-block a{
    text-decoration: none;
    color: aqua;
}
.text-block a:hover{
    color: #82E809;
}
.position{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
    max-width: 50%;
}

.responsive{
    position: relative; 
    margin: 0 auto;
}

.responsive img{ 
    display: block;
   width:100%;
   max-width: 25em;
    max-height: 25em;
   margin-right: auto;
   margin-left: auto;
   border: solid 0.1em black;
    margin-bottom: 0.5em;
}
.responsive img:hover{
    opacity: 0.5;
}
/* css for front images ends */
/* css for filtering starts */
h1{
    font-size: 2em;
    margin: 0.25em 0;
    text-align: center;
    background-color: #faf4f1;
    color: #ff7e73;
    padding: 0.25em;
}
h2{
    font-size: 1.5em;
}
.filter-btn{
    background-color: #eeeded;
    margin: 0.5em 0.2em;
    padding: 0 0.5em;
    border-radius: 0.5em;
    width: 99%;
}
.filter-btn h2{
    display: inline-block;
    
}
.filter-btn i{
    vertical-align: bottom;
}
.filter-options{
    display: none;
}



.visible{
    display: block;
    transition: display 10s;
    /* transition-delay: 2s; */
}
.invisible{
    display: none;
    transition-duration: 10s;
}