@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
body{
    max-width: 99.99%;
}
/* css for header section starts */
.header {
    background-color: #faf4f1;
    width: 100%;
    /* position: fixed;
    top: 0;
    left: 0; */
}
.navbar {
    /* padding: 0.5em 0.5em; */
    display: grid;
    grid-template-columns: 2em  auto  4.5em;
    grid-template-areas:  "drop logo cart"
                            "srch srch srch"
                            "men men men";
}
.drop-menu{
    grid-area: drop;
    padding: 0.5em 0 0 0.5em;
}
.drop-menu > button{
    border:none;
    color: red;
    background-color: #faf4f1;
}
.logoPlace{
    grid-area: logo;
    text-align: center;
}
.logo{
    height: auto;
    max-height: 50px;
    /* max-width: 50%; */
    
   
}
.cart{
    grid-area: cart;
    vertical-align: middle;
    padding:0.5em 0.6em 0 0;
    
}
.cart li{
    display: inline;    
}
.searchbar{
    grid-area: srch;
    padding-left: 1em;
    display: none;    
}
.search{
    /* background-color:#dddddd; */
    padding: 0.3em;
    border: black 0.05em solid;
    border-radius: 0.5em;
    color: #aaaaaa;
}
.mainmenu
{
    grid-area: men;
    display: none;
    text-align: left;
    padding-left: 1em;
}
    .mainmenu a{
      display: block;
      color: #111;
      text-decoration: none;
      line-height: 2.5;
    }
    .mainmenu a:hover {
      color: #ffffff;
      background-color: #dddddd;
    }
.submenu{
    display: none;
    position: absolute;
    left: 10em;
    top: 5em;
    background-color:#FDF2E3;
    z-index: 1;
    width: 100%;
}
    .submenu a{
        display: block;
        color: #111;
        text-decoration: none;
        line-height: 2.5;
    }
    .mainmenu a:hover{
        color: red;
      background-color: #dddddd;
    }
.dropdown > a::after{
    content: " >";
    color: black;
}
.dropdown:hover .submenu{
    display: block;
}

/* css for header ends */
/* css for front images section starts */
.text-block{
    background-color: black;
    opacity: 0.65;
    color: lightcoral;
    padding: 0.5em;
    text-align: center;
    
}
.text-block a{
    text-decoration: none;
    color: aqua;
}
.text-block a:hover{
    color: #82E809;
}
.position{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
    max-width: 50%;
}

.responsive{
    position: relative; 
    margin: 0 auto;
}

.responsive img{ 
    display: block;
   width:100%;
   max-width: 25em;
   min-height: 20em;
   margin-right: auto;
   margin-left: auto;
   border: solid 0.1em black;
    margin-bottom: 0.5em;
}
.responsive img:hover{
    opacity: 0.5;
}
.gif{
    display: none;
}
.everest{
    border-top: 0.2em solid #111111;
    margin-bottom: 0.5em;
}
/* css for front images ends */
/* css for filtering starts */
h1{
    font-size: 2em;
    margin: 0.25em 0;
    text-align: center;
    background-color: #faf4f1;
    color: #ff7e73;
    padding: 0.25em;
}
h2{
    font-size: 1.5em;
}
.filter-btn{
    background-color:darkgreen ;
    margin: 0.5em 0.2em;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    width: 99%;
    text-align: justify;
    /* font-size: 0; */
    line-height: 0;
    color: rgb(255, 255, 255);
}
.bckgrnd-color{
    background-color: #5a4e4e;
}
.filter-btn::after{
    content: '';
    width: 100%; 
    display: inline-block;
}
.filter-btn h2{
    display: inline-block;
    margin-left: 0.5em;
    
    /* font-size: 1.5em; */
    line-height: normal;
}
.filter-btn i{
    vertical-align: bottom;
    font-size: 1.75em;
}
.filter-options{
    display: none;
    margin: 0.25em;
}
.color-size{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.1em;
}
.color{
    font-size: 1.2em;
    padding-left: 1.5em; 
    padding-top: 0.25em;
    border: 0.1em solid #333333;
    background-image: linear-gradient(#acddde, lightyellow, #f7d8ba); 
}
.color ul{
    margin-top: 0.25em;   
}
.size{
    padding-left: 1.5em;
    padding-top: 0.25em;
    border: 0.1em solid #333333;
    background-image: linear-gradient(lightblue, lightcoral , lightgreen);
}
.size p{
    font-size: 1.2em;
}
.size ol{
    text-align: left;
    padding: 0;
    margin-top: 0.25em;
    list-style-type: none; 
}
.size ol li{
    padding: 0.1em;
}
.size ol li label{
    vertical-align: -webkit-baseline;
    
}
.xs{
    font-size: 0.5em;
}
.sm{
    font-size: 0.75em;
}
.md{
    font-size: 0.90em;
    
}
.lg{
    font-size: 1em;
    
}
.xl{
    font-size: 1.2em;
    
}
.rating{
    margin: 0.25em 0em;
    padding: 0.25em;
    
    text-align: center;
    border: 0.1em solid #333333;
    background-image: linear-gradient(#fddfdf, #def3fd , #f0defd);
}
.rating p{
    font-size: 1.2em;
}
.rating ol{
    padding: 0;
    list-style-type: none;
}
/* css for filter ends */
/* css for sorting starts here */
.sort, .categ{
    margin-left: 0.8em;
    font-size: 1.2em;
    padding:0.25em
}
/* css for sorting ends here */
/* css for product display starts here */
.result{
    margin-left: 0.5em;
}
.product{
    margin: 0.5em 0.5em;
    border: 0.1em solid #222222;
    padding: 0.25em;
}
.name-price{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}
.name-price data{
    margin: 0.15em 0.15em;
    padding:0.25em;
    color: maroon;
    font-size: 1.25em;
    width: fit-content;
    border-radius: 0.25em;
    background-color: #5997b4;
    justify-self: end;
}
.name-price data ins{
    text-decoration: none;
}
.name-price h3{
    font-size: 1.5em;
    margin: 0.25em 0;
}
.prod-color,.prod-size{
    margin: 1em 0;
}
.prod-color ul li{
    display: inline;   
}
.prod-size ol{
    padding-left: 0em;
}
.prod-size ol li{
    display: inline;
}
.prod-footer dl{
    display: grid;
    grid-template-columns: 0.30fr 3fr 0.3fr;
    grid-template-areas: "test test test" 
                         "valu star love";
}
.prod-footer dl dt{
    grid-area: test;
}
.prod-footer dl dd{
    grid-area: valu;
    padding:0.25em;
    /* text-align: right; */
}
.prod-footer dl div{
    grid-area: star;
}
.fav-color, .fav{
    color:red;
    grid-area: love;
    border: none; 
    background: none;  
}
.but{
    width: fit-content;
}
.add-to-cart{
    padding: 0.15em;
    font-size: 1.2em;
    margin: 1em 0 0.5em 0;
    background-color: lightgoldenrodyellow;
}
.add-to-cart span{
    vertical-align: middle;
}
.see-more p{
    display: inline;
}
.changeQuantity {
    display: block;
    padding: 0.3em;
    background-color: lightblue;
    /* color: white; */
    width: fit-content
    /* margin-top: 1em;
    margin-bottom: 0.25em; */
}
.minusbutton, .quantity, .plusbutton, .total-price{
    display: inline-block;
    padding: 0 0.25em;
}
.minusbutton, .plusbutton{
    border: 0.01em solid black;
}
.total-price{
    font-size: 1.3em;
    vertical-align: bottom;
}

   
/* css for product display ends here */
/* css for pagination starts here */
.page-align{
    text-align: center;
    padding: 1em 0;
    background-color: #aaaaaa;
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
}
.page-align p{
    font-size: 1.1em;
    margin: 0.5em 0;
    font-family: 'Roboto Mono', monospace;
}

.pagination {
    display: inline-block;
    justify-self: center;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }

/* css for pagination ends here */
/* css for footer starts here */
.footer h6{
    font-size: 0.6em;
    color: #e1e1e1;
    letter-spacing: 0.1em;
}
.footer h3{
    font-size: 1.2em;
    color: #e1e1e1;
}
.foot-align h4{
    padding-top: 2em; 
    color: #ff7e73;
}
.footer{
    background-color: #3e4153;
    color: white;
    text-align: center;
}
.footer > p{
    padding-bottom: 2em;
    font-size: 0.9em;
}
.foot-align a{
    padding: 0.5em;
    display: block;
    text-decoration: none;
    margin: 0.5em 0;
    color: #e1e1e1;
    margin: 0 auto;
    width: fit-content;
}
.foot-align a:hover{
    color: lightgreen;
    text-decoration: underline;
}
.social-dis{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-gap: 0.5em;
    background-color: #6f727f;
    color: white;
    margin: 0.5em auto;
    padding:0.5em;
    border-radius: 0.5em;
    width: 10em;
}
.social-dis:hover{
    background-color: #bebebe;
}
.apple h3{ 
    letter-spacing: 0.08em;
}
.apple i{
    font-size: 2em;
    width: 1em; 
}
.google-play{
    height: 2em;
    min-width: 1.9em;
    display: none;
}
.apple:hover .appleicon{
    color: black;
}
.google:hover .googleIcon{
    display: none;
}
.google:hover .google-play{
    display: block;
}
.google h3{
    letter-spacing: 0.01em;
}
.google i{
    font-size: 1.6em;
    width: 1.25em;
}
.social-dis div{
    text-align: left;
}
.responsive-icon a{
    text-decoration: none;    
}
.responsive-icon p{
    text-align: center;
    margin: 0.5em 0;
    padding: 0.5em;
    font-size: 0.9em;
}
.small{
    font-size: small;
}
.icon{
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto;
    color: white;   
}
.icon a{
    color:white;
}
.icon i{
    padding: 1rem 1rem;
    background: #6f727f;
    transition: background-color 1s;
    border-radius: 1.5em;
}
.f:hover{
  background-color: #3b5998;
}
.t:hover{
    background-color: #1da1f2;
}
.i:hover{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.in:hover{
    background-color: #0e76a8;
}
.y:hover{
    background-color: #ff0000;  
}
/* css for footer ends here */



.visible{
    display: block;
    /* transition-delay: 2s; */
}
.invisible{
    display: none;   
}

/* media quries  starts here*/

@media screen and (min-width: 650px) {
    .navbar{
        grid-template-columns: 9em auto 2em 4.2em;
        grid-template-areas: "logo men srch cart";
    }
    .drop-menu{
        display: none;
    }
    .logoPlace{
        text-align: left;
    }
    .cart{
        padding: 0;
    }
    .cart li > button{
        font-size: 2.2em;
        color: red;
        background-color: #faf4f1;
        border:none
    }
    .mainmenu
    {
        padding-left: 0;
        display: block;
        /* display: flex; */
        /* justify-content: space-around; */
    }
    .mainmenu > ul{
        display: flex;
        justify-content: space-evenly;
    }

    .submenu{
        position: absolute;
        left: auto;
        top: 2em;
        padding-left: 0.25em;
        width: 50%;
    }
    .dropdown:hover .submenu{
        display: flex;
        justify-content: space-between;
    }
    .searchbar{
        display: block;
        padding: 0.5em 0;
        position: relative;
        
    }
    .searchbar button{
        border:none;
        background: none;
        position: relative;
    }
    .search, .searchbar label{
        display: none;  
    }
    .srchicon
    {
        display: block;
        grid-area: srch;
        text-align: center;
    }
    .srchIntablet{
        display: block;
        position: absolute;
        right:3em;
        top: 2em;  
        z-index: 1;
    }
    .topimg{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .gif{
        display: block;
        max-width: 25em;
        margin-left:0.5em;
    }
    .sort-categ{
        display: flex;
        justify-content: space-around;
    }
    #products{
         display: grid;
         grid-template-columns: 1fr 1fr;   
    }
    .product{
        margin: 0.25em 0.15em;
    }
    .foot-align{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .apple-google{
        display: grid;
     grid-template-columns: auto 10em 10em auto;
     grid-gap: 0.5em;       
    }
    
}
@media screen and (min-width: 1200px) {
    body{
        max-width: 1400px;
        margin: 0 auto;
    }
    .navbar{
        grid-template-columns: 9em auto 16em 4.2em;
        grid-template-areas: "logo men srch cart";
    }
    .search, .searchbar label{
        display: inline-block;  
    }
    .topimg{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .gif{
        display: none;
    }
    #products{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }   
    .foot-align{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-bottom: 1em;
    }
    .responsive-icon{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .apple-google{
        grid-template-columns: auto 10em 10em;
    }
    .icon{
        margin-left: 1em;
    }
}